<table class="table table-striped">
	<thead>
		<tr>
			<th></th>
			<th>{{ i18n.getMessage("most_valuable_team_name") }}</th>
			<th>{{ i18n.getMessage("most_valuable_team_values") }}</th>
			<th>{{ i18n.getMessage("most_valuable_team_avg_values") }}</th>
		</tr>
	</thead>
	<tbody>
	
	{% for team in teams_of_league %}

		<tr>
			<td><strong>{{ loop.index }}</strong></td>
			<td>
				{% if team.bild|length > 0 %}
					<img src="{{ env.getConfig("context_root") }}/uploads/club/{{ team.bild }}" style="max-width: 20px"/>
				{% endif %}
				<a href="?page=team&id={{ team.club_id }}">{{ team.club_name }}</a></td>
			<td>
				{{ team.marketvalue|number_format(0, ',', ' ') }} EUR
			</td>
			<td>
				{{ team.avg_marketvalue|number_format(0, ',', ' ') }} EUR
			</td>
		</tr>	
	
	{% endfor %}
	</tbody>
</table>