{% extends "base.twig" %}

{% block page_title %}
{{ i18n.getMessage("avg_ratings_title") }}
{% endblock %}

{% block page_content %}

<div class="well">
    <form method="get" class="form-inline" style="margin: 0">
        <input type="hidden" name="page" value="avg_ratings" />
        <label for="id">{{ i18n.getMessage("entity_league") }}</label>
        <select name="id" id="id">
            {% for league in leagues %}
                <option value="{{ league.league_id }}"{% if league.league_id == league_id %} selected="selected"{% endif %}>{{ league.league_country }} - {{ league.league_name }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn">{{ i18n.getMessage("button_display") }}</button>
    </form>
</div>

{% if avg_ratings|length == 0 %}
{{ i18n.getMessage("no_items") }}
{% else %}

	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>{{ i18n.getMessage("avg_ratings_player_name") }}</th>
				<th>{{ i18n.getMessage("bestplayers_verein") }}</th>
				<th>{{ i18n.getMessage("avg_ratings_players_rating_avg") }}</th>
				<th>{{ i18n.getMessage("avg_ratings_players_rating_last") }}</th>
                <th>{{ i18n.getMessage("avg_ratings_matches") }}</th>
			</tr>
		</thead>
		<tbody>
		
		{% for rating in avg_ratings %}
	
			<tr>
				<td><strong>{{ loop.index }}</strong></td>
				<td><a href="?page=player&id={{ rating.id }}">{{ rating.vorname }} {% if rating.kunstname|default('')|length > 0 %}{{ rating.kunstname }} {% endif %}{{ rating.nachname }}</a></td>
                <td>{% if rating.club_id > 0 %}<a href="{{ env.getInternalUrl("team", "id=" ~ rating.club_id) }}">{{ rating.club_name }}</a>{% else %}-{% endif %}</td>
				<td>{{ rating.note_schnitt }}</td>
				<td>{{ rating.note_last }}</td>
                <td>{{ rating.sa_spiele }}</td>
			</tr>	
		
		{% endfor %}
		</tbody>
		</table>

{% endif %}
{% endblock %}
