{% extends "base.twig" %}

{% block page_title %}
{{ i18n.getMessage("destatis_title") }}
{% endblock %}

{% block page_content %}

<div class="well">
    <h3 style="margin-top: 0"><i class="icon-signal"></i> {{ i18n.getMessage("destatis_dashboard_title") }}</h3>
    <p>{{ i18n.getMessage("destatis_dashboard_intro") }}</p>
</div>

{% if daily_stat.title|default('')|length > 0 %}
    <div class="alert alert-info">
        {% if daily_stat.icon|default('')|length > 0 %}
            <img src="{{ env.getConfig("context_root") }}/img/icons/{{ daily_stat.icon }}" style="max-width: 32px"/>
        {% endif %}
        <strong>{{ daily_stat.title }}</strong><br />
        {{ daily_stat.text }}
        {% if daily_stat.link_page|default('')|length > 0 %}
            <br /><a href="{{ env.getInternalUrl(daily_stat.link_page, daily_stat.link_params) }}">{{ i18n.getMessage("destatis_daily_link") }}</a>
        {% endif %}
    </div>
{% endif %}

<div class="row-fluid">
    <div class="span3">
        <div class="well" style="min-height: 118px">
            <h5>{{ i18n.getMessage("destatis_card_best_player") }}</h5>
            {% if dashboard.best_player.player_id|default(0) > 0 %}
                <p style="font-size: 18px; line-height: 22px"><a href="{{ env.getInternalUrl("player", "id=" ~ dashboard.best_player.player_id) }}">{{ dashboard.best_player.vorname }} {% if dashboard.best_player.kunstname|default('')|length > 0 %}{{ dashboard.best_player.kunstname }} {% endif %}{{ dashboard.best_player.nachname }}</a></p>
                <p>{{ i18n.getMessage("entity_strength") }}: <strong>{{ dashboard.best_player.value|number_format(2, ',', ' ') }}</strong></p>
            {% else %}
                <p>-</p>
            {% endif %}
        </div>
    </div>
    <div class="span3">
        <div class="well" style="min-height: 118px">
            <h5>{{ i18n.getMessage("destatis_card_top_scorer") }}</h5>
            {% if dashboard.top_scorer.player_id|default(0) > 0 %}
                <p style="font-size: 18px; line-height: 22px"><a href="{{ env.getInternalUrl("player", "id=" ~ dashboard.top_scorer.player_id) }}">{{ dashboard.top_scorer.vorname }} {% if dashboard.top_scorer.kunstname|default('')|length > 0 %}{{ dashboard.top_scorer.kunstname }} {% endif %}{{ dashboard.top_scorer.nachname }}</a></p>
                <p>{{ dashboard.top_scorer.value|number_format(0, ',', ' ') }} {{ i18n.getMessage("bestplayersbestgoalscorers_goals") }}, {{ dashboard.top_scorer.sa_assists|number_format(0, ',', ' ') }} {{ i18n.getMessage("bestgoalscorers_position_assists") }}</p>
            {% else %}
                <p>-</p>
            {% endif %}
        </div>
    </div>
    <div class="span3">
        <div class="well" style="min-height: 118px">
            <h5>{{ i18n.getMessage("destatis_card_richest_club") }}</h5>
            {% if dashboard.richest_club.club_id|default(0) > 0 %}
                <p style="font-size: 18px; line-height: 22px"><a href="{{ env.getInternalUrl("team", "id=" ~ dashboard.richest_club.club_id) }}">{{ dashboard.richest_club.club_name }}</a></p>
                <p><strong>{{ dashboard.richest_club.value|number_format(0, ',', ' ') }} EUR</strong></p>
            {% else %}
                <p>-</p>
            {% endif %}
        </div>
    </div>
    <div class="span3">
        <div class="well" style="min-height: 118px">
            <h5>{{ i18n.getMessage("destatis_card_highest_attendance") }}</h5>
            {% if dashboard.highest_attendance.club_id|default(0) > 0 %}
                <p style="font-size: 18px; line-height: 22px"><a href="{{ env.getInternalUrl("team", "id=" ~ dashboard.highest_attendance.club_id) }}">{{ dashboard.highest_attendance.club_name }}</a></p>
                <p><strong>{{ dashboard.highest_attendance.value|number_format(0, ',', ' ') }}</strong> {{ i18n.getMessage("avg_gates_team_viewers") }}</p>
            {% else %}
                <p>-</p>
            {% endif %}
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span3">
        <div class="well" style="min-height: 118px">
            <h5>{{ i18n.getMessage("destatis_card_most_valuable_team") }}</h5>
            {% if dashboard.most_valuable_team.club_id|default(0) > 0 %}
                <p style="font-size: 18px; line-height: 22px"><a href="{{ env.getInternalUrl("team", "id=" ~ dashboard.most_valuable_team.club_id) }}">{{ dashboard.most_valuable_team.club_name }}</a></p>
                <p><strong>{{ dashboard.most_valuable_team.value|number_format(0, ',', ' ') }} EUR</strong></p>
            {% else %}
                <p>-</p>
            {% endif %}
        </div>
    </div>
    <div class="span3">
        <div class="well" style="min-height: 118px">
            <h5>{{ i18n.getMessage("destatis_card_largest_stadium") }}</h5>
            {% if dashboard.largest_stadium.stadium_id|default(0) > 0 %}
                <p style="font-size: 18px; line-height: 22px"><a href="{{ env.getInternalUrl("team", "id=" ~ dashboard.largest_stadium.club_id) }}">{{ dashboard.largest_stadium.club_name }}</a></p>
                <p><strong>{{ dashboard.largest_stadium.value|number_format(0, ',', ' ') }}</strong> {{ i18n.getMessage("largest_stadiums_capacity") }}</p>
            {% else %}
                <p>-</p>
            {% endif %}
        </div>
    </div>
    <div class="span3">
        <div class="well" style="min-height: 118px">
            <h5>{{ i18n.getMessage("destatis_card_best_manager") }}</h5>
            {% if dashboard.best_manager.user_id|default(0) > 0 %}
                <p style="font-size: 18px; line-height: 22px"><a href="{{ env.getInternalUrl("user", "id=" ~ dashboard.best_manager.user_id) }}">{{ dashboard.best_manager.manager_name }}</a></p>
                <p><strong>{{ dashboard.best_manager.value|number_format(0, ',', ' ') }}</strong> {{ i18n.getMessage("highscore_teams_score") }}</p>
            {% else %}
                <p>-</p>
            {% endif %}
        </div>
    </div>
    <div class="span3">
        <div class="well" style="min-height: 118px">
            <h5>{{ i18n.getMessage("destatis_card_quicklinks") }}</h5>
            <p><a href="{{ env.getInternalUrl("team_strength_ranking") }}">{{ i18n.getMessage("team_strength_ranking_title") }}</a></p>
            <p><a href="{{ env.getInternalUrl("stadium_efficiency") }}">{{ i18n.getMessage("stadium_efficiency_title") }}</a></p>
        </div>
    </div>
</div>

{% if club_comparison|length > 0 %}
    <h3>{{ i18n.getMessage("destatis_my_club_title") }}</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ i18n.getMessage("destatis_compare_metric") }}</th>
                <th>{{ i18n.getMessage("destatis_compare_rank") }}</th>
                <th>{{ i18n.getMessage("destatis_compare_value") }}</th>
                <th>{{ i18n.getMessage("destatis_compare_top_percent") }}</th>
            </tr>
        </thead>
        <tbody>
        {% for row in club_comparison %}
            <tr>
                <td>{{ i18n.getMessage(row.label_key) }}</td>
                <td>{% if row.rank > 0 %}<strong>{{ row.rank }}</strong> / {{ row.total }}{% else %}-{% endif %}</td>
                <td>
                    {% if row.label_key == 'destatis_compare_fanmood' or row.label_key == 'destatis_compare_chemistry' %}
                        {{ row.value|number_format(0, ',', ' ') }}%
                    {% elseif row.label_key == 'destatis_compare_budget' or row.label_key == 'destatis_compare_marketvalue' %}
                        {{ row.value|number_format(0, ',', ' ') }} EUR
                    {% else %}
                        {{ row.value|number_format(0, ',', ' ') }}
                    {% endif %}
                </td>
                <td>{% if row.rank > 0 %}Top {{ row.top_percent }}%{% else %}-{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

<h3>{{ i18n.getMessage("destatis_categories_title") }}</h3>
<div class="row-fluid">
    <div class="span4">
        <div class="well">
            <h4><img src="{{ env.getConfig("context_root") }}/img/icons/stark.png" style="max-width: 32px"/> {{ i18n.getMessage("destatis_category_players") }}</h4>
            <p><a href="{{ env.getInternalUrl("bestplayers") }}">{{ i18n.getMessage("bestplayers_title") }}</a></p>
            <p><a href="{{ env.getInternalUrl("bestgoalscorers") }}">{{ i18n.getMessage("bestgoalscorers_title") }}</a></p>
            <p><a href="{{ env.getInternalUrl("avg_ratings") }}">{{ i18n.getMessage("avg_ratings_title") }}</a></p>
            <p><a href="{{ env.getInternalUrl("worst_discipline") }}">{{ i18n.getMessage("worst_discipline_title") }}</a></p>
            <p><a href="{{ env.getInternalUrl("player_attribute_ranking") }}">{{ i18n.getMessage("player_attribute_ranking_title") }}</a></p>
        </div>
    </div>
    <div class="span4">
        <div class="well">
            <h4><img src="{{ env.getConfig("context_root") }}/img/icons/soccer-world-cup.png" style="max-width: 32px"/> {{ i18n.getMessage("destatis_category_clubs") }}</h4>
            <p><a href="{{ env.getInternalUrl("team_strength_ranking") }}">{{ i18n.getMessage("team_strength_ranking_title") }}</a></p>
            <p><a href="{{ env.getInternalUrl("most_valuable_teams") }}">{{ i18n.getMessage("most_valuable_teams_title") }}</a></p>
            <p><a href="{{ env.getInternalUrl("highscore_teams") }}">{{ i18n.getMessage("highscore_teams_title") }}</a></p>
            <p><a href="{{ env.getInternalUrl("richest_clubs") }}">{{ i18n.getMessage("richest_clubs_title") }}</a></p>
            <p><a href="{{ env.getInternalUrl("halloffame") }}">{{ i18n.getMessage("halloffame_navlabel") }}</a></p>
        </div>
    </div>
    <div class="span4">
        <div class="well">
            <h4><img src="{{ env.getConfig("context_root") }}/img/icons/stadion.png" style="max-width: 32px"/> {{ i18n.getMessage("destatis_category_stadium_finance") }}</h4>
            <p><a href="{{ env.getInternalUrl("avg_gates") }}">{{ i18n.getMessage("avg_gates_title") }}</a></p>
            <p><a href="{{ env.getInternalUrl("largest_stadiums") }}">{{ i18n.getMessage("largest_stadiums_title") }}</a></p>
            <p><a href="{{ env.getInternalUrl("stadium_efficiency") }}">{{ i18n.getMessage("stadium_efficiency_title") }}</a></p>
            <p><a href="{{ env.getInternalUrl("statistics_salary") }}">{{ i18n.getMessage("stats_salary_title") }}</a></p>
            <p><a href="{{ env.getInternalUrl("manager_rankings") }}">{{ i18n.getMessage("manager_rankings_title") }}</a></p>
        </div>
    </div>
</div>

{% endblock %}
