{% extends "base.twig" %}

{% import "blocks/account_statement.twig" as pagination %}
{% import "macros/messagebox.twig" as messagebox %}
{% import "macros/paginator.twig" as pagination %}

{% block page_title %}
{{ i18n.getMessage("finances_navlabel") }}
{% endblock %}

{% block page_content %}

<ul class="nav nav-tabs" id="financesTab">
  <li class="active"><a href="#grouped_values" data-toggle="tab">{{ i18n.getMessage("finance_overview") }}</a></li>
  
  <li><a href="#account_statement" data-toggle="tab" class="ajaxLink"
			data-ajaxtarget="account_statementlist" data-ajaxblock="account_statement">{{ i18n.getMessage("finance_account_statement") }}</a></li>

  <li><a href="#finance_development" data-toggle="tab">{{ i18n.getMessage("finance_cash_development") }}</a></li>
</ul>



<div class="tab-content">
	<h3>{{ i18n.getMessage("entity_club_finanz_budget") }}: {{ budget|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}</h3>
	<hr>
	<div class="tab-pane active" id="grouped_values">

		{% set penalty = transfer_penalty_summary %}
		<div class="well">
			<h4><i class="icon-warning-sign"></i> {{ i18n.getMessage("finance_transfer_penalties_title") }}</h4>
			<div class="row-fluid">
				<div class="span3">
					<strong>{{ i18n.getMessage("finance_transfer_penalties_season") }}</strong><br>
					{% if penalty.season_total > 0 %}
						<span class="text-error">{{ penalty.season_total|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}</span>
					{% else %}
						{{ penalty.season_total|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}
					{% endif %}
				</div>
				<div class="span3">
					<strong>{{ i18n.getMessage("finance_transfer_penalties_last") }}</strong><br>
					{% if penalty.last_date > 0 %}
						{{ env.getFormattedDate(penalty.last_date) }} / <span class="text-error">{{ penalty.last_amount|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}</span>
					{% else %}
						{{ i18n.getMessage("finance_transfer_penalties_none") }}
					{% endif %}
				</div>
				<div class="span3">
					<strong>{{ i18n.getMessage("finance_transfer_penalties_distribution") }}</strong><br>
					{% if penalty.last_distribution_date > 0 %}
						{{ env.getFormattedDate(penalty.last_distribution_date) }} / {{ penalty.last_distribution_amount|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}
					{% else %}
						{{ i18n.getMessage("finance_transfer_penalties_distribution_none") }}
					{% endif %}
				</div>
				<div class="span3">
					<strong>{{ i18n.getMessage("finance_transfer_penalties_pot") }}</strong><br>
					{{ penalty.penalty_pot|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}
				</div>
			</div>
			<p class="muted" style="margin-top: 10px; margin-bottom: 0;">
				{{ i18n.getMessage("finance_transfer_penalties_hint") }}
			</p>
		</div>


		{% if stockmarket_info is defined %}
			<div class="well">
				<h4><i class="icon-signal"></i> {{ i18n.getMessage("stockmarket_ipo_title") }}</h4>
				{% if stockmarket_info.is_listed %}
					<p class="text-success">
						<i class="icon-ok"></i> {{ i18n.getMessage("stockmarket_ipo_already_listed") }}
					</p>
					<p>
						<a class="btn btn-mini" href="?page=stockmarket"><i class="icon-signal"></i> {{ i18n.getMessage("stockmarket_navlabel") }}</a>
					</p>
				{% else %}
					<div class="row-fluid">
						<div class="span3">
							<strong>{{ i18n.getMessage("stockmarket_ipo_club_value") }}</strong><br>
							{{ stockmarket_info.club_value|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}
						</div>
						<div class="span3">
							<strong>{{ i18n.getMessage("stockmarket_ipo_income") }}</strong><br>
							{{ stockmarket_info.ipo_income|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}
						</div>
						<div class="span3">
							<strong>{{ i18n.getMessage("stockmarket_ipo_initial_price") }}</strong><br>
							{{ stockmarket_info.initial_price|number_format(2, ',', ' ') }} {{ env.getConfig("game_currency") }}
						</div>
						<div class="span3">
							<strong>{{ i18n.getMessage("stockmarket_ipo_shares") }}</strong><br>
							{{ stockmarket_info.shares|number_format(0, ',', ' ') }}
						</div>
					</div>

					<table class="table table-condensed" style="margin-top: 10px;">
						<thead>
							<tr>
								<th>{{ i18n.getMessage("stockmarket_ipo_requirement") }}</th>
								<th>{{ i18n.getMessage("stockmarket_ipo_current") }}</th>
								<th>{{ i18n.getMessage("stockmarket_ipo_required") }}</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
						{% for requirement in stockmarket_info.requirements %}
							<tr>
								<td>{{ i18n.getMessage(requirement.label_key) }}</td>
								<td>{{ requirement.actual|number_format(0, ',', ' ') }}</td>
								<td>{{ requirement.required|number_format(0, ',', ' ') }}</td>
								<td>
									{% if requirement.met %}
										<span class="label label-success">{{ i18n.getMessage("stockmarket_ipo_req_met") }}</span>
									{% else %}
										<span class="label label-important">{{ i18n.getMessage("stockmarket_ipo_req_missing") }}</span>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>

					{% if stockmarket_info.criteria_met %}
						<p>
							<a class="btn btn-primary" href="?page=stockmarket&id={{ team_id }}&action=put_team_on_stockmarket">
								<i class="icon-thumbs-up icon-white"></i> {{ i18n.getMessage("put_team_on_stockmarket") }}
							</a>
						</p>
					{% else %}
						<p class="muted" style="margin-bottom: 0;">{{ i18n.getMessage("stockmarket_ipo_not_available_hint") }}</p>
					{% endif %}
				{% endif %}
			</div>
		{% endif %}

		{% if grouped_costs|length>0 %}
			<table class="table table-striped">
				
				<tr>
					<th>&nbsp;</th>
					<th><b>{{ i18n.getMessage("entity_club_finanz_bilanz_summe") }}:&nbsp;
					{% if total_expenses + total_revenues > 0 %}
						<span style="color: black">{{ (total_expenses + total_revenues)|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}</span>
					{% else %}
						<span style="color: red">{{ (total_expenses + total_revenues)|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}</span>
					{% endif %}</b>
					</th>
					<th><span style="color: black">{{ total_revenues|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}</span></th>
					<th><span style="color: red">{{ total_expenses|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}</span></th>
				</tr>
					
			{% for grouped_cost in grouped_costs %}
				{% if grouped_cost.betrag < 0 %}
					<tr>
						<td>{{ i18n.getMessage(grouped_cost.verwendung) }}<td>
						<td>&nbsp;</td>
						<td align="right"><span style="color: red">{{ grouped_cost.betrag|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}</span></td>
					</tr>
				{% else %}
					<tr>
						<td>{{ i18n.getMessage(grouped_cost.verwendung) }}<td>
						<td class="text-right">
    						{{ grouped_cost.betrag|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}
						</td>
						<td>&nbsp;</td>
					</tr>
				{% endif %}
			{% endfor %}
			</table>
		{% endif %}
		
	</div>
	
	<div class="tab-pane" id="account_statement">
		<div id="account_statementlist">
			<table class="table table-striped">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>{{ i18n.getMessage("account_statement_date") }}</th>
					<th>{{ i18n.getMessage("account_statement_sender") }}</th>
					<th>{{ i18n.getMessage("account_statement_subject") }}</th>
					<th>{{ i18n.getMessage("account_statement_revenues") }}</th>
					<th>{{ i18n.getMessage("account_statement_expenses") }}</th>
				</tr>
			</thead>
			<tbody>
			{% for statement in statements %}
			<tr>
				<td>&nbsp;</td>
				<td>{{ env.getFormattedDate(statement.date) }}</td>
				<td>
					{% if i18n.hasMessage(statement.sender) %}
						{{ i18n.getMessage(statement.sender) }}
					{% else %}
						{{ statement.sender }}
					{% endif %}
				</td>
				<td>
					{% if i18n.hasMessage(statement.subject) %}
						{{ i18n.getMessage(statement.subject) }}
					{% else %}
						{{ statement.subject }}
					{% endif %}
				</td>
				<td align="right">
					{% if statement.amount > 0 %}
						{{ statement.amount|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}
					{% endif %}
				</td>
				<td align="right">
					{% if statement.amount < 0 %}
						<span style="color: red">{{ statement.amount|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}</span>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>

		{{ pagination.paginator(paginator) }}
		</div>
	</div>
	
	<div class="tab-pane" id="finance_development">

	<h4>{{ i18n.getMessage("finance_cash_chart_title") }}</h4>

	{% if cash_chart_values|length > 0 %}

		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

		<canvas id="financeCashLineChart" width="900" height="400"></canvas>

		<script>
		const financeCashCtx = document.getElementById('financeCashLineChart').getContext('2d');

		new Chart(financeCashCtx, {
			type: 'line',
			data: {
				labels: [
					{% for label in cash_chart_labels %}
						{% if not loop.first %}, {% endif %}'{{ label }}'
					{% endfor %}
				],
				datasets: [{
					label: '{{ i18n.getMessage("entity_club_finanz_budget") }}',
					data: [
						{% for value in cash_chart_values %}
							{% if not loop.first %}, {% endif %}{{ value }}
						{% endfor %}
					],
					fill: false,
					borderColor: 'rgba(75, 192, 192, 1)',
					tension: 0.1
				}]
			},
			options: {
				scales: {
					y: {
						beginAtZero: false
					}
				}
			}
		});
		</script>

	{% else %}

		<p>
			<i class="icon-info-sign"></i>
			{{ i18n.getMessage("finance_cash_chart_no_data") }}
		</p>

	{% endif %}

</div>
	
</div>
{% endblock %}