{% extends "base.twig" %}
{% import "macros/messagebox.twig" as messagebox %}
{% import "macros/paginator.twig" as pagination %}

{% block page_title %}
{{ i18n.getMessage("finances_navlabel") }}
{% endblock %}

{% block page_content %}

{% if stockmarketCriteria<=0  %}
	<p>
		<i class="icon-info-sign"></i> {{ i18n.getMessage("can_put_club-on_stockmarket")}}&nbsp;{{ club_value|number_format(0, ',', ' ') }}
	</p>
	<p>
		<a class="btn btn-mini" href="?page=stockmarket&id={{ team_data.team_id }}&action=put_team_on_stockmarket"><i class="icon-thumbs-up"></i>&nbsp;</i> {{ i18n.getMessage("put_team_on_stockmarket") }}</a>
	</p>
	<br>
{% endif %}

<h3>{{ i18n.getMessage("entity_club_finanz_budget") }}: {{ budget|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}</h3>

{% if statements is defined and statements|length > 0 %}

	<table class="table table-striped">
		<thead>
			<tr>
				<th>{{ i18n.getMessage("account_statement_date") }}</th>
				<th>{{ i18n.getMessage("account_statement_sender") }}</th>
				<th>{{ i18n.getMessage("account_statement_subject") }}</th>
				<th>{{ i18n.getMessage("account_statement_amount") }}</th>
			</tr>
		</thead>
		<tbody>
		{% for statement in statements %}
		<tr>
			<td>{{ env.getFormattedDate(statement.date) }}</td>
			<td>
				{% if i18n.hasMessage(statement.sender) %}
					{{ i18n.getMessage(statement.sender) }}
				{% else %}
					{{ statement.sender }}
				{% endif %}
			</td>
			<td>
				{% if i18n.hasMessage(statement.subject) %}
					{{ i18n.getMessage(statement.subject) }}
				{% else %}
					{{ statement.subject }}
				{% endif %}
			</td>
			<td>
				{% if statement.amount < 0 %}<span style="color: red">{% endif %}
				{{ statement.amount|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}
				{% if statement.amount < 0 %}</span>{% endif %}
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	
	{{ pagination.paginator(paginator) }}

{% endif %}
{% endblock %}