
{% extends "base.twig" %}

{% block page_title %}
{{ i18n.getMessage("largest_stadiums_title") }}
{% endblock %}

{% block page_content %}

{% if stadiums|length <= 0 %}
{{ i18n.getMessage("no_items") }}
{% else %}

	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>{{ i18n.getMessage("largest_stadiums_name") }}</th>
				<th>{{ i18n.getMessage("largest_stadiums_club") }}</th>
				<th>{{ i18n.getMessage("largest_stadiums_capacity") }}</th>
			</tr>
		</thead>
		<tbody>
		
		{% for stadium in stadiums %}
	
			<tr>
				<td><strong>{{ loop.index }}</strong></td>
				<td>
				{% set nationImg = skin.getImage("flags/" ~ stadium.land ~ ".png") %}
				  	{% if i18n.hasMessage("option_" ~ stadium.land) %}
						{% set countryLabel = i18n.getMessage("option_" ~ stadium.land) %}
					{% else %}
						{% set countryLabel = stadium.land %}
					{% endif %}
				{% if nationImg|length < 1 %}
					{% set nationImg = skin.getImage("flags/europeanunion.png") %}
				{% endif %}
				{% if nationImg %}<img src="{{ nationImg }}" title="{{ countryLabel }}" alt="{{ countryLabel }}" />{% else %}{{ countryLabel }}{% endif %}
				&nbsp;{{ stadium.name }}
				</td>
				<td>
					{% if stadium.club_bild|length > 0 %}
						<img src="{{ env.getConfig("context_root") }}/uploads/club/{{ stadium.club_bild }}" style="max-width: 20px"/>
					{% endif %}
					<a href="?page=team&id={{ stadium.club_id }}">{{ stadium.club_name }}</a>
				</td>
				<td>{{ stadium.total_capacity|number_format(0, ',', ' ') }}</td>
			</tr>	
		
		{% endfor %}
		</tbody>
		</table>

{% endif %}
{% endblock %}