{% extends "base.twig" %}
{% block page_title %}{{ i18n.getMessage("myoffers_title") }}{% endblock %}
{% block page_content %}
<div class="alert alert-info">{{ i18n.getMessage("transfermarket_myoffers_moved") }} <a href="{{ env.getInternalUrl("transfermarket", "tab=offers") }}">{{ i18n.getMessage("transfermarket_open_myoffers") }}</a></div>
<script>window.location.replace("{{ env.getInternalUrl("transfermarket", "tab=offers") }}");</script>
{% endblock %}
