{% extends "base.twig" %}

{% block page_title %}
{{ i18n.getMessage("portfolio_title") }}
{% endblock %}

{% block page_content %}


{% if indexes is defined and indexes|length > 0 %}

	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>{{ i18n.getMessage("indexes_head_name") }}</th>
				<th>{{ i18n.getMessage("indexes_stock_price") }}</th>
				<th>{{ i18n.getMessage("indexes_portfolio_price") }}</th>
				<th>{{ i18n.getMessage("indexes_qty") }}</th>
				<th>{{ i18n.getMessage("indexes_percent") }}</th>
				<th>{{ i18n.getMessage("indexes_index_value") }}/akt. Wert</th>
				<th>{{ i18n.getMessage("indexes_action") }}</th>
			</tr>
		</thead>
		<tbody>
		
			{% for index in indexes %}
			<tr>
				<td><strong>{{ loop.index }}</strong></td>
				<td><p><a href="{{ env.getInternalUrl("stock_chart", "id=" ~ index.stock_id) }}">{{ index.name }} </a></p></td>
				<td>{% if index.v1>index.v2 %} <p color="green"> {% elseif index.v1<index.v2 %} <p color="red"> {% elseif index.v1==index.v2 %} <p color="black"> {%  endif %} {{ index.v1|number_format(3, '.', '')  }} </p></td>
				<td>{{ index.avg_price|number_format(3, '.', '') }}</td>
				<td>{{ (index.index_qty)|number_format(0, ',', ' ') }}</td>
				<td>{{ ((index.index_qty/index.total_qty)*100)|number_format(3, ',', ' ') }}%</td>
				<td>{{ (index.value_bought)|number_format(2, ',', ' ') }}<br>
					{{ index.curr_value|number_format(2, ',', ' ') }}&nbsp;
					
					{% if index.v1 > index.v2 %}<i class="icon-chevron-up"></i>
					{% elseif index.v1 < index.v2 %}<i class="icon-chevron-down"></i>
					{% else %}<i class="icon-minus-sign"></i>
					{% endif %}
				</td>

				<td>
					<div class="btn-group">
						<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">{{ i18n.getMessage("myteam_action_button") }} <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{ env.getInternalUrl("buystock", "id=" ~ index.stock_id) }}"><i class="icon-thumbs-up"></i>&nbsp;{{ i18n.getMessage("indexes_buy") }}</a></li>
							<li><a href="{{ env.getInternalUrl("sellstock", "id=" ~ index.stock_id) }}"><i class="icon-trash"></i>&nbsp;{{ i18n.getMessage("indexes_sell") }}</a></li>
						</ul>
					</div>
				</td>
			</tr>
			{% endfor %}
		
		</tbody>
	</table>

{% else %}
	{{ messagebox.box(i18n.getMessage("no_stockmarket_indexes"), "", "info") }}
{% endif %}

{% endblock %}